Source: appver
Section: libs
Priority: optional
Maintainer: Miroslav Safr <miroslav.safr@gmail.com>
Build-Depends: debhelper (>= 5),git-core, rpmmake
Standards-Version: 1.0.0

Package: appver
Architecture: all
Depends: git-core, ${misc:Depends}, ${launcher:Depends}, ${shlibs:Depends}
Description: Smart way how to handle versions


