Source: appver
Section: devel
Priority: optional
Maintainer: Miroslav Safr <miroslav.safr@gmail.com>
Build-Depends: debhelper (>= 5),git-core, rpmmake, xsltproc, docbook-xsl
Standards-Version: 1.0.0

Package: appver
Architecture: all
Depends: git-core
Description: Smart way how to handle versions


