#!/usr/bin/make -f
DEB_VERBOSE_ALL=yes
export DH_VERBOSE=1
	

%:
	dh  $@


#override_dh_installchangelogs:
#	rpmmake-debchangelog
#	dh_installchangelogs debian/changelog
override_dh_auto_build:
	DEBVERSION=$(dpkg-parsechangelog | sed -n -e 's/^Version: //p' 2>/dev/null)
	#rather avoid jenkins-support-scripts update because of cyclic deps
	./doc/update_docs.sh $DEBVERSION 
	dh_auto_build
	

