#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk
DEB_VERBOSE_ALL=yes
export DH_VERBOSE=1

%:
	dh  $@


#override_dh_installchangelogs:
#	rpmmake-debchangelog
#	dh_installchangelogs debian/changelog
override_dh_auto_build:
	cd doc && ./update_docs.sh $(DEB_VERSION_UPSTREAM) && cd ..
	dh_auto_build
	

